.post__section {
  padding-top: 88px;
  padding-bottom: 80px;
}

.post__container {
  padding-left: 135px;
  padding-right: 135px;
}

.post__heading {
  text-align: center;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 23px;
}

.post__text {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 71px;
}
.post__mainpost {
  display: flex;
  margin-bottom: 40px;

  transition: box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post__mainpost:hover,
.post__mainpost:focus {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.post__info {
  padding: 63px 0 49px 78px;
  width: 770px;
  background-color: black;
}

.main-post__author {
  font-size: 14px;
  line-height: 1.2;

  color: white;

  margin-bottom: 27px;
}

.main-post__title {
  max-width: 492px;
  font-size: 48px;
  line-height: 1.2;

  color: white;

  margin-bottom: 60px;
}
.main-post__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: white;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-post__link:hover {
  color: orange;
}

.post__list {
  display: flex;
}

.post__item {
  padding: 48px 48px 50px 48px;

  transition: box-shadow 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post__item:hover,
.post__item:focus {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.post__list .post__item + .post__item {
  margin-left: 30px;
}

.post__title {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 474px;
}

.post__description {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 16px;
  max-width: 474px;
}
.post__link {
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  color: $pramery-site-color;

  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.post__link:hover {
  color: orange;
}
