footer .container {
  display: flex;
  justify-content: space-between;
  justify-content: center;

  padding: 0 34px 0 80px;
}
.footer-block {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid $pramery-site-color;
  margin-bottom: 100px;
}
.footer-block__box {
  display: inline-flex;
}
.footer-block__thumb {
  display: inline-flex;
}
.footer-block__list {
  display: inline-flex;
}
.footer-block__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: $pramery-site-color;
  text-decoration: none;
}
.logo--current {
  text-decoration: none;
  font-family: "Homemade Apple";
  color: #f7941e;
  margin-left: 141px;
  margin-right: 141px;
}
.footer-block__item:not(:last-child) {
  margin-right: 31px;
}
.socials {
  display: flex;

  margin-top: 100px;
}
.social-follow {
  display: inline-flex;
  justify-content: center;
  justify-content: space-between;

  margin-top: 55px;
}
.social-follow li:not(:last-child) {
  margin-right: 10px;
}
.social-follow__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 38px;
  height: 38px;

  border-radius: 50%;

  background-color: $pramery-site-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-follow__icon {
    fill: $third-site-color;
  }
}
