header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 34px 0 80px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  // padding-top: 47px;
  // padding-bottom: 47px;
  // padding-left: 0;
  // left: 433px;
}

.nav-list__item {
}
.nav-list__link {
  display: inline-flex;
  font-size: 18px;
  line-height: 1.2;
  color: $pramery-site-color;
  text-decoration: none;
}
.nav-list__item .nav-list__link {
  padding: 47px 0;
}

.nav-list__item:not(:last-child) {
  margin-right: 31px;
}

.logo {
  text-decoration: none;
  font-family: "Homemade Apple";
  color: $pramery-site-color;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  font-size: 18px;
  line-height: 1.2;
}

.nav-list__item .nav-list__link {
  padding: 47px 0;
}

.nav-list__item:not(:last-child) {
  margin-right: 31px;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  padding: 14px 24px 8px 24px;
  text-transform: uppercase;
  color: #f7941e;
  background-color: #ffffff;
  border: 1px solid #f7941e;
  border-radius: 5px;
}
