.hero {
}

.hero .container {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f2;
}

.hero__content {
  padding: 154px 0 0 162px;
}

.hero__title {
  max-width: 433px;
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 36px;
}

// .hero__content .sub__title {
//   max-width: 422px;
//   margin-bottom: 52px;
// }

.btn.secondary__btn {
  color: #ffffff;
  background-color: #f7941e;
  padding: 23px 24px 18px 24px;
}

.hero__wrapper {
}

.hero__wrapper img {
  display: block;
}
.btn__secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  padding: 14px 24px 8px 24px;

  text-transform: uppercase;
  // color: #f7941e;
  background-color: #ffffff;
  border: 1px solid #f7941e;
  border-radius: 5px;
  color: #ffffff;
  background-color: #f7941e;
  padding: 23px 24px 18px 24px;
}

.sub__title {
  font-size: 20px;
  line-height: 1.4;
  max-width: 422px;
  margin-bottom: 52px;
}
