.skills {
}

.skills .container {
  display: flex;
  /* justify-content: space-between; */

  background-color: #f1f1f2;
}

.skills__wrapper {
}

.skills__wrapper img {
  display: block;
}

.skills__content {
  padding: 164px 0 0 112px;
}

.skills__title {
  font-size: 32px;
  line-height: 1.4;
  margin-bottom: 23px;
}

.skills__content .sub-title {
  max-width: 441px;
  margin-bottom: 35px;
}

.btn__thid {
  padding: 21px 46px 17px 47px;
}
