// $primary-text-color: #757575;
// $title-text-color: #212121;
// $accent-color: #2196f3;
// $primary-white-color: #ffffff;
// $hero-footer-color: #2f303a;
// $hero-bg-color: #c4c4c4;
// $text-footer: rgba(255, 255, 255, 0.6);
// $primary-bg-color: #f5f4fa;
// $border-color: #eeeeee;
// $icon-color: #afb1b8;
// $primary-font: Roboto, sans-serif;
// $secondary-font: Raleway, sans-serif;
// $button-bg-hover: #188ce8;
// $bg-icon-color: #ffffff1a;

/* Text colors */
$pramery-site-color: #212121;
$secondary-site-color: #f7941e;
$third-site-color: #ffffff;

/* Background Colors */
$primary-bg-color: #ffffff;
$secondary-bg-color: #f1f1f2;
$third-bg-color: #fafafa;

/* Font family ??? */
$pramery-font: "Roboto";
$second-font: "Homemade Apple";

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 500ms;
