/* Text colors */
$pramery-site-color: #212121;
$secondary-site-color: #f7941e;
$third-site-color: #ffffff;

/* Background Colors */
$primary-bg-color: #ffffff;
$secondary-bg-color: #f1f1f2;
$third-bg-color: #fafafa;

/* Font family ??? */
$pramery-font: "Roboto";
$second-font: "Homemade Apple";

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time-transition: 500ms;
